<h3>New Song</h3>

<form action='/create' method='post'>
  <input type='text' name='title' placeholder='Title'><br />
  <input type='text' name='artist' placeholder='Artists'><br />
  <input type='text' name='album' placeholder='Album'><br />
  <input type='submit' name='Save'>
</form>
