<!-- Next level styling coming up...
     You're not ready for this. -->

<% if !artists.empty? %>
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
  <table>
    <tr>
      <th colspan="4"><br><h3>Genre</h3></th>
    </tr>
    <tr>
      <th>Name</th>
    </tr>
    <% artists.each do |artist| %>
    <tr>
      <td><%= artist.name %></td>
      <td><a href='/songs/artist/<%= artist.id %>'>Songs</a></td>
      <td><a href='/artists/delete/<%= artist.id %>'>Delete</a></td>
    </tr>
    <% end %>
  </table>
<% else %>
  No artists in database!
<% end %>

