<h3>New Artist</h3>

<% if flash[:alert] %>
  Alert: <%= flash[:alert] %><br />
<% end %>

<form action='/artists' method='post'>
  <input type='text' name='name' placeholder='Name'><br /><br />
  <input type='submit' name='Save'>
</form>

<br /><br />

<% if defined? artists %>
  <% artists.each do |artist| %>
    <%= artist.name %><br />
  <% end %>
<% end %>


