<h3>New Genre</h3>

<% if flash[:alert] %>
  Alert: <%= flash[:alert] %><br />
<% end %>

<form action='/genres' method='post'>
  <input type='text' name='name' placeholder='Name'><br /><br />
  <input type='submit' name='Save'>
</form>

<br /><br />

<% if defined? genres %>
  <% genres.each do |genre| %>
    <%= genre.name %><br />
  <% end %>
<% end %>


