<!doctype html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <!-- I party AND write HTML like it's 1999. -->
    <center>
      <a href='/index'>Home</a> - 
      <a href='/songs/show'>All Songs</a> - 
      <a href='/songs/new'>New Song</a>
     <br /><br />
    
      <%= yield %>
    
    </center>
  </body>
</html>
