<!doctype html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <!-- I party AND write HTML like it's 1999. -->
    <center>
      <a href='/'>Home</a><br />
      <a href='/songs'>All Songs</a> :: 
      <a href='/songs/new'>New Song</a><br />
      <a href='/genres'>All Genres</a> :: 
      <a href='/genres/new'>New Genre</a>
     <br /><br />
    
      <%= yield %>
    
    </center>
  </body>
</html>
